/* .first{
    background: yellow;
    font-style: italic;
} */
/* class=.  ,id=#  */



/* universal selector applicable to all the html elements */
/* *{  
    background-color: aqua;
}

h2,p,h1{
    text-align: center;
    background: yellow;
    color: red;
}

#first{
    background: yellow;
    font-style: italic;
} */

/* .border{
    border-top-left-radius: 250px;
    border-bottom-left-radius: 250px;
    border-top-right-radius: 250px;
    background-color: aqua;
    padding:50px;
    width: 300px;
    height: 200px;
    border:6px solid red;
    font-size: 20px;
    text-align: center
}

p{
    display:inline;
    display: block;
    display: inline-block;
    display: none;
    float: right;
    float:initial;
    float:inherit; both are default values of float property 


}
 */

p{
    background-color:rgb(231, 65, 65);
    width:200px;
    height:100px;
    border: 2px solid black;
    overflow:auto; /* default value of overflow property */
    /* there are 4 values of overflow property visible,hidden,scroll,auto */
    opacity:0.9; /* default value of opacity property is 1 */
} 