/* .first{
    background: yellow;
    font-style: italic;
} */
/* class=.  ,id=#  */



/* universal selector applicable to all the html elements */
*{  
    background-color: aqua;
}

h2,p,h1{
    text-align: center;
    background: yellow;
    color: red;
}

#first{
    background: yellow;
    font-style: italic;
}